.category {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.quiz-card { transition: all 430ms ease-in-out !important; }
.quiz-card:hover { 
  background-color: #1976d277 !important;
  transform: scale(1.1); 
}